#main_menu {
  background-color: #090909;
}

.navbar{
  background-color: black;
}

.nav-item{
  color: whitesmoke;
}

.nav-link:hover{
  color: gray;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float:none;
}
